

Frontend/.DS_Store


Frontend/.idea/


Frontend/*.iml


Frontend/node_modules/


Frontend/android/build/


Frontend/ios/build/


Frontend/ios/Pods/


Frontend/*.log


Frontend/.env


Frontend/.vscode/


Frontend/.expo/


Frontend/yarn-error.log

Backend/node_modules